<launch>
  <rosparam file="$(find lidar_demo)/lidar_demo_params.yaml" command="load" />

  <node pkg="tf" type="static_transform_publisher" name="base_to_laser" 
    args="0.0 0.0 0 0 0 0 /map /world 40" /> 
    
  <node pkg="lidar_demo" type="demo" name="demo" respawn="true" output="screen" />

</launch>
